<div class="mrc-featured-event-card">
  <div class="mrc-featured-event-card__img">
    {{ image }}
  </div>
  <div class="mrc-featured-event-card__content">
    {{ pattern('date_stacked', {'month': month, 'day': day}) }}

    <div class=mrc-featured-event-card__subcontent>
      <div class="mrc-featured-event-card__time">{{ time }}</div>
      <div class="mrc-featured-event-card__location">{{ location }}</div>
    </div>
    <h2 class="mrc-featured-event-card__title">{{ title }}</h2>
    <div class="mrc-featured-event-card__teaser">{{ description }}</div>
  </div>
</div>
