<div class="mrc-news-card">
  <div class="mrc-news-card__img">
    {{ image }}
  </div>
  <div class="mrc-news-card__content">
    <div class="mrc-news-card__date">{{ time }}</div>
    <div class=mrc-news-card__subcontent>
      <div class="mrc-news-card__source">
        {{ link }}
      </div>
      <div class="mrc-news-card__program">{{ program }}</div>
    </div>
    <h2 class="mrc-news-card__title">{{ title }}</h2>
  </div>
</div>
