
{% set attributes = attributes.addClass('mrc-event-card') %}

<div{{ attributes }}>

  {% if image %}
    <div class="mrc-event-card__img">
      {{ image }}
    </div>
  {% endif %}

  <div class="mrc-event-card__content">
    {% if date %}
      <div class="mrc-event-card__date">{{ date }}</div>
    {% endif %}
    <div class=mrc-event-card__subcontent>
      {% if time %}
        <div class="mrc-event-card__time">{{ time }}</div>
      {% endif %}

      {% if time and location %}
        &nbsp;|&nbsp;
      {% endif %}

      {% if location %}
        <div class="mrc-event-card__location">{{ location }}</div>
      {% endif %}
    </div>
    {% if title %}
      <h2 class="mrc-event-card__title">{{ title }}</h2>
    {% endif %}
  </div>
</div>
