<div class="mrc-event-card">
  <div class="mrc-event-card__img">
    {{ image }}
  </div>
  <div class="mrc-event-card__content">
    <div class="mrc-event-card__date">{{ date }}</div>
    <div class=mrc-event-card__subcontent>
      <div class="mrc-event-card__time">{{ time }}</div>
      <div class="mrc-event-card__location">{{ location }}</div>
    </div>
    <h2 class="mrc-event-card__title">{{ title }}</h2>
  </div>
</div>
