
{% set attributes = attributes.addClass('event-node') %}

<div{{ attributes }}>
  {% if image|render %}
    <div class="mrc-event__img">{{ image }}</div>
  {% endif %}

  {% if location|render %}
    <div class="mrc-event__location">{{ location }}</div>
  {% endif %}

  {% if date|render %}
    <div class="mrc-event__date">{{ date }}</div>
  {% endif %}

  {% if time|render %}
    <div class="mrc-event__time">{{ time }}</div>
  {% endif %}

  <div class="mrc-event__map-admission">
    {% if map|render %}
      <div class="mrc-event__map">{{ map }}</div>
    {% endif %}

    {% if admission|render %}
      <div class="mrc-event__admission">{{ admission }}</div>
    {% endif %}
  </div>

  {% if description|render %}
    <div class="mrc-event__description">{{ description }}</div>
  {% endif %}

  {% if sponsor|render %}
    <div class="mrc-event__sponsor">
      <span class="sponsored-by">{{ "Sponsored by "|t }}</span>{{ sponsor }}
    </div>
  {% endif %}

  {% if email|render or phone|render %}
    <div class="mrc-event__contact">
      
      <div class="contact-label">
        {{ "Event contact information:"|t }}
      </div>
      
      {% if email|render %}
        <div>{{ email }}</div>
      {% endif %}
      
      {% if phone|render %}
        <div>{{ phone }}</div>
      {% endif %}
    </div>
  {% endif %}

  {% if embed_video|render %}
    <div class="decanter-embed-container" aria-label="16:9">{{ embed_video }}</div>
  {% endif %}

</div>
